@import "~antd/dist/antd.css";

:root {
  --heading-color: #1c1f33;
  --text-font: "Raleway", san-serif;
}

.HeaderContainer {
  display: flex;
  justify-content: flex-start;
  margin: 1rem auto;
  font-family: "Raleway", sans-serif;
}

.HeaderContainer h1 {
  margin: 0;
  color: var(--heading-color);
  font-weight: 700;
}
